<div id="<%= dom_id blog %>">
  <p>
    <strong>Name:</strong>
    <%= blog.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= blog.email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= blog.content %>
  </p>

</div>
